<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AFRMS</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home/disp">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/disp/map">Map</a>
    </li>
	  <li class="nav-item">
		  <a class="nav-link" href="/home/disp/viewEvents">View Events</a>
	  </li>
	  <li class="nav-item">
		  <a class="nav-link" href="/home/disp/createEvents">Create Events</a>
	  </li>
	  <li class="nav-item">
		  <a class="nav-link" href="/home/disp/approveEvents">Approve Events</a>
	  </li>
	  <li class="nav-item">
		  <a class="nav-link" href="/">Sign Out</a>
	  </li>
  </ul>
</nav>