<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">AFRMS</a>
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <a class="nav-link" href="/home/fr">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/home/fr/map">Map</a>
    </li>
	  <li class="nav-item">
		  <a class="nav-link" href="/home/fr/updateEvents">Update Mission</a>
	  </li>
  </ul>
</nav>