<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AFRMS submit event</title>
</head>
<body>
    Submit an Event.
    <form action="/SubmitEvent" method="POST">
        <input type="text" placeholder="Full Name" name="name">
        <br><input type="text" placeholder="Phone Number" name="number">
        <br><input type="text" placeholder="Email" name="email">
        <br><input type="text" placeholder="Location" name="location">
        <br><input type="text" placeholder="Description" name="desciption">
        <br><button type="submit">Submit</button>
    </form>
</body>
</html>