<!DOCTYPE html>
<html lang="en">
<head>  
<meta charset="UTF-8">  
<title>MY APP</title></head><body>  
May Node and Express be with you.


<ul class="missions">  
<% for(var i=0; i<missions.length; i++) 
{%>    <li class="mission">      
	<span><%= missions[i].missionID %></span>      
	<span><%= missions[i].teamID %></span>
	<span><%= missions[i].events[] %></span>
	<span><%= missions[i].status &></span>
</li>  <% } %></ul>
