<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <%- include('../../Partials/head'); %>
    </head>
    <body class="container">


        <header>
        <%- include('../../Partials/DISPheader'); %>
        </header>


        <main>
            <div class="jumbotron">
            <h1>Events</h1>
                <form action="/CreateEvent" method="POST">
                <input type="text" placeholder="Full Name" name="name">
                <br><input type="text" placeholder="Phone Number" name="number">
                <br><input type="text" placeholder="Email" name="email">
                <br><input type="text" placeholder="Location" name="location">
                <br><input type="text" placeholder="Description" name="description">
                <br><input type="text" placeholder="Urgency Level" name="urgency">
                <br><button type="submit">Submit</button>
            </form>
        </main>
        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
</body>
</html>