<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="../../../databaseFunctions.js"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Akk01vko6U7AknIQbuqPOOwSg2jiZwTKoqvkDKtrIB6i-An4f2J-n4-LKCFILYOD'></script>
        <%- include('../../Partials/head'); %>
        
        <script type='text/javascript'>
                var map;
                var pushpin;
                var layer;
                var somePlace;
                var somePlace2;
                async function loadMapScenario() 
                {
                    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                    somePlace = new Microsoft.Maps.Location(39.4527738, -76.7737872);
                    somePlace2 = new Microsoft.Maps.Location(39.43218, -76.815318);
                    pushpin = new Microsoft.Maps.Pushpin(somePlace, null);
                    pushpin = new Microsoft.Maps.Pushpin(somePlace2, null);
                    var layer = new Microsoft.Maps.Layer();
                    layer.add(pushpin);
                    map.layers.insert(layer);

                    console.log("[adminMap] got this far");
                    //var db = require("./databaseFunctions.js");
                    console.log("[adminMap] now this far");

                    // setup connection to the cluster
                    const MongoClient = require('mongodb').MongoClient;
                    const uri = "mongodb+srv://Admin:Password@cluster0.ejcge.mongodb.net/AFRMS?retryWrites=true&w=majority";
                    const client = new MongoClient(uri, { useNewUrlParser: true }, { useUnifiedTopology: true });

                    try {
                        // connect to the cluster
                        await client.connect();

                        // load all locations in database
                        var dbLocations = await exports.getAllLocations(client)

                        for (var location of dbLocations) {
                            var loc = new Microsoft.Maps.Location(location.latitude, location.longitude)
                            var pushpin = new Microsoft.Maps.Pushpin(loc, {
                                title: location.event._id,
                                subTitle: location.event.Description
                            })
                            layer.add()
                        }

                    } catch (e) {
                        console.error(e);
                    } finally {
                        await client.close();
                    }

                    console.log("[adminMap] and this far");

                    Microsoft.Maps.Events.addHandler(layer, 'click', function (e)
                    {
                        var bin = e.primitive;
                        alert('Pushpins in data bin: ');
                    });
                    Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () 
                    {
                        var options = {maxResults: 4, map: map};
                        var manager = new Microsoft.Maps.AutosuggestManager(options);
                        manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
                    });
                    function selectedSuggestion(suggestionResult) 
                    {
                        map.entities.clear();
                        map.setView({ bounds: suggestionResult.bestView });
                        var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                        map.entities.push(pushpin);
                        document.getElementById('printoutPanel').innerHTML =
                            'Suggestion: ' + suggestionResult.formattedSuggestion +
                            '<br> Lat: ' + suggestionResult.location.latitude +
                            '<br> Lon: ' + suggestionResult.location.longitude;

                        var time = new Date();
                        
                        exports.addLocation(client, {
                            latitude: suggestionResult.location.latitude,
                            longitude: suggestionResult.location.longitude,
                            event: {
                                Username: "Admin",
                                Name: "Admin",
                                Number: "123-456-7890",
                                Email: "Admin@email.com",
                                timestamp: time,
                                Location: "here",
                                Description: "A location Admin picked",
                                severity: 6,
                                mission: false
                            }
                        })

                    }

                    
                }
        </script>

    </head>
    <body class="container", onload = 'loadMapScenario();'>


        <header>
        <%- include('../../Partials/ADMINheader'); %>
        </header>

        <div id='printoutPanel'></div>
        <div id='searchBoxContainer'><input type= 'text' id= 'searchBox'/></div>     
        <div id='myMap' style='top: 0; width: 60vw; height: 1000px; z-index: 1;'></div>


        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
    </body>
</html>
