<!DOCTYPE html>
<html lang="en">
    <head>
        <title>AFRMS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script type = 'text/javascript' src="databaseFunctions.js"></script>
        <script type='text/javascript' src='https://www.bing.com/api/maps/mapcontrol?key=Akk01vko6U7AknIQbuqPOOwSg2jiZwTKoqvkDKtrIB6i-An4f2J-n4-LKCFILYOD'></script>
        <%- include('../../Partials/head'); %>
        
        <script type='text/javascript'>
                var map;
                var pushpins;
                var layer;
                var somePlace;
                var somePlace2
                function loadMapScenario() 
                {
                    map = new Microsoft.Maps.Map(document.getElementById('myMap'), {});
                    pushpins = Microsoft.Maps.TestDataGenerator.getPushpins(50, map.getBounds());
                    //trying to iterate through pins
                    for(var i = 0, len = pushpins.length; i < len; i++)
                    {
                        somePlace2 = i + 1;
                        pushpins[i].setOptions(
                        {
                            
                            title: somePlace2.toString()
                        });
                    }
                    var layer = new Microsoft.Maps.Layer();
                    layer.add(pushpins);
                    map.layers.insert(layer);
                    Microsoft.Maps.Events.addHandler(layer, 'click', function (e)
                    {
                        var bin = e.primitive;
                        alert('Pushpins in data bin: ');
                    });
                    Microsoft.Maps.loadModule('Microsoft.Maps.AutoSuggest', function () 
                    {
                        var options = {maxResults: 4, map: map};
                        var manager = new Microsoft.Maps.AutosuggestManager(options);
                        manager.attachAutosuggest('#searchBox', '#searchBoxContainer', selectedSuggestion);
                    });
                    function selectedSuggestion(suggestionResult) 
                    {
                        map.entities.clear();
                        map.setView({ bounds: suggestionResult.bestView });
                        var pushpin = new Microsoft.Maps.Pushpin(suggestionResult.location);
                        map.entities.push(pushpin);
                        document.getElementById('printoutPanel').innerHTML =
                            'Suggestion: ' + suggestionResult.formattedSuggestion +
                            '<br> Lat: ' + suggestionResult.location.latitude +
                            '<br> Lon: ' + suggestionResult.location.longitude;
                    }

                    
                }
        </script>

    </head>
    <body class="container", onload = 'loadMapScenario();'>


        <header>
        <%- include('../../Partials/ADMINheader'); %>
     
        </header>

        <div id='printoutPanel'></div>
        <div id='searchBoxContainer'><input type= 'text' id= 'searchBox'/></div>     
        <div id='myMap' style='top: 0; width: 60vw; height: 40vw; z-index: 1;'></div>


        <footer>
        <%- include('../../Partials/footer'); %>
        </footer> 
    </body>
</html>
